.home {
    background-color: #f0f0f0;
    width: 100%; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    box-sizing: border-box; 
}

/* Ancho mínimo para dispositivos móviles */
@media (max-width: 320px) {
    .home {
        width: 100%;
    }
}

/* Ancho mínimo para dispositivos pequeños */
@media (min-width: 321px) and (max-width: 480px) {
    .home {
        max-width: 100%; /* Ancho total */
        padding: 50px 10px; /* Ajuste de padding */
    }
}

/* Ancho mínimo para tabletas */
@media (min-width: 481px) and (max-width: 768px) {
    .home {
        max-width: 600px; /* Ancho específico para tabletas */
    }
}

/* Ancho mínimo para computadoras de escritorio */
@media (min-width: 769px) {
    .home {
        max-width: 1200px; /* Ancho máximo para computadoras */
        padding: 80px 40px; /* Ajuste de padding */
    }
}