.sidebar {
    position: fixed;
    bottom: 20px; /* Espacio desde el borde inferior */
    left: 20px; /* Espacio desde el borde izquierdo */
    display: flex;
    flex-direction: column; /* Alineación vertical */
    gap: 15px; /* Espacio entre los elementos */
    align-items: center;
    background-color: var(--color-primary);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .icon {
    color: var(--color-text-light);
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
  .icon:hover {
    color: var(--color-accent); /* Cambia el color en hover */
  }
  
  .toggle {
    background: none;
    border: none;
    color: var(--color-text-light);
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .toggle:hover {
    color: var(--color-accent); /* Color de acento en hover */
  }